/* Challenge 8: Change the type of font to Arial for all elements */
* {
  font-family: Arial, sans-serif;
}

/* Challenge 9: Change the background color for all elements with a class of banner.  Choose a color
                using rgb( )
*/

/* Note: The HTML uses id="banner", so we'll apply to #banner instead of .banner */
#banner {
  background-color: rgb(100, 150, 200);
  text-align: center;
  padding: 20px;
}

/* Challenge 10: Change the background color for all elements with a class of subbanner.  Choose a color
                using a hexdecimal value. 
*/
.subbanner {
  background-color: #e0c0ff;
  padding: 10px;
}

/* Challenge 11: Change the radius of the border to 6px and height to 200px for all images inside of all 
                 elements with a class of gallery 
*/
.gallery img {
  border-radius: 6px;
  height: 200px;
}

/* Challenge 12: When the visitor moves their mouse over images inside of the element with an id of firstGallery,
                 apply some type of styling using the filter( ) effect
*/
#firstGallery img:hover {
  filter: brightness(80%);
}

/* Challenge 13: When the visitor moves their mouse over images inside of the element with an id of secondGallery,
                 apply some other type of styling.
*/
#secondGallery img:hover {
  filter: grayscale(100%);
}

/* Challenge 14: Change the transition for all elements to 1 second */
* {
  transition: all 1s;
}

